@import "rsuite/dist/rsuite.css";

.App {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.contact {
  padding: 20px;
}

.insurance{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 0 5vw; */
}

.insurance-div {
  margin: 0 5vw;
  padding-top: 2vh;
  background-color:#FAF0D7;

}

.insurance-img {
width: 15vw;
padding: 50px;
}

.landingpage {
  display: flex;
  padding: 0 5vw;
}

.landing-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
}

.landing-text-1 {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  background-color: #8CC0DE;
}

.landing-text-2 {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  background-color: #FFD9C0;
}

.landing-text-3 {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  background-color: #F4BFBF;
}

.logo {
  margin-right: 20vw;
}

.navbar {
  position: fixed;
  display: flex;
  height: 8vh;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  opacity: 97%;
  background-color: #fdf3e9;
  z-index: 5;
}

.navbar p:hover {
  cursor: pointer;
}

.photo {
  height: 80vh;
  width: auto;
}

.title {
  /* display: flex; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: +1;
}

.video {
  position: relative;
  top: 8vh;
  padding: 0 5vw;
  height: 95vh;
  width: 99vw;
  overflow: hidden;
  object-fit: fill;
  opacity: 70%;
  z-index: -10;
}

@media only screen and (max-width: 768px) {


  .video {
    top: 20vh;
  }

}