.App {
  text-align: center;
}

.landingpage {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(227, 227, 227);
  height: 5vh;
}
